@font-face {
  font-family: "Sami-bold", sans-serif;
  src: url(../../font/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Regular", sans-serif;
  src: url(../../font/Montserrat/static/Montserrat-Regular.ttf);
}
